ETCD_NAME="node1"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ ip_internal }}:2380"
ETCD_LISTEN_PEER_URLS="https://{{ ip_internal }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ip_internal }}:2379,https://127.0.0.1:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ ip_internal }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster-1"
ETCD_INITIAL_CLUSTER="node1=https://{{ ip_internal }}:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_DATA_DIR="/var/lib/etcd/default.etcd"
ETCD_CERT_FILE="/etc/ssl/etcd/etcd-client.pem"
ETCD_KEY_FILE="/etc/ssl/etcd/etcd-client-key.pem"
ETCD_PEER_CERT_FILE="/etc/ssl/etcd/etcd.pem"
ETCD_PEER_KEY_FILE="/etc/ssl/etcd/etcd-key.pem"
ETCD_PEER_CLIENT_CERT_AUTH="true"
ETCD_CLIENT_CERT_AUTH="true"
ETCD_TRUSTED_CA_FILE="/etc/ssl/etcd/ca.pem"
ETCD_PEER_TRUSTED_CA_FILE="/etc/ssl/etcd/ca.pem"
